$primary-color: black;
$blaze-orange: #ff6600;
$spring-wood: #f6f6ef;
$bg: white;

body {
  color: $primary-color;
  background-color: $bg;
  font-size: 12px;
}

.centerContainer {
  overflow: auto;
  background-color: $spring-wood;
}
